.orbitron-normal {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rubik-normal {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}